@using GymApp14V1.Util.Helpers
@model MemberRoleViewModel


@if (Model.PageHeader is not null)
{
    <partial name="_PageHeader" model="Model.PageHeader"></partial>
}

<p>
    <a class="btn btn-info btn-custom mt-4" asp-controller="Role" asp-action="Create">Add Role</a>
</p>

<partial name="../MembersAndRoles/_MemberRoleListTable" model="Model.Members"></partial>
