@model GymApp14V1.Core.ViewModels.PageHeaderViewModel


@if (Model is not null) {
    <div class="row text-light bgcolor-blue">
        @if (!string.IsNullOrWhiteSpace(Model.HeadLine))
        {
            <div class="col-md-12">
                <h1 class="display-1 fw-bold">@Model.HeadLine</h1>
            </div>
        }

        @if (!string.IsNullOrWhiteSpace(Model.SubTitle))
        {
            <div class="col-md-12">
                <h1 class="display-6">@Model.SubTitle</h1>
            </div>
        }

        @if (!string.IsNullOrWhiteSpace(Model.Content))
        {
            <div class="col-md-12">
                <p>@Model.Content</p>
            </div>
        }
    </div>


    @if (User.Identity.IsAuthenticated) {
        <p class="h6 mt-4">Permission for @User.Identity.Name</p>

        @if (User.IsInRole(ClientArgs.ADMIN_ROLE))
        {
            <p class="text-danger fw-bold h5">Your account have Admin rights</p>
        }

        @if (User.IsInRole(ClientArgs.MEMBER_ROLE))
        {
            <p class="text-primary fw-bold h5">Your account have Member rights</p>
        }
    }
    else {

        <p class="text-danger fw-bold h5 mt-4">You must be a logged in member to booking a gympass</p>
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    }

}







