html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.bgcolor-blue {
    background-color: #0000ff;
}

.color-blue {
    color: #0000ff;
}