html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
/*    background-image: url("/images/Gym-BG-retuch.jpg");*/
    margin-bottom: 60px;
    background-repeat: no-repeat;
    overflow-y: scroll;
}


.bgcolor-blue {
    background-color: #0000ff;
}

.color-blue {
    color: #0000ff;
}