@model BookingViewModel


<select asp-for="GymClassId" class="form-select">

    <option value="">-SELECT-</option>

    @foreach (var vt in Model.GymClasses)
    {
        <option value="@vt.Id"><span class="text-primary">@vt.Name</span> | Date: @vt.StartTime.ToString("yyyy-MM-dd hh:mm")</option>
    }
</select>

