@model BookingViewModel


<select asp-for="GymClassId" class="form-select">

    <option value="">-SELECT-</option>

    @foreach (var vt in Model.GymClasses)
    {
        <option value="@vt.Id">@vt.Name</option>
    }
</select>

