@model AdminViewModel


<h1>Admin panel - Member</h1>

<p>
    <a asp-action="Create">Add Gym Class</a>
</p>


<div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Login">Login</a>
</div>

<
<p class="text-primary fw-bold"> Number of Registered members: @Model.Members.Count()</p>


<partial name="../Members/_MemberListTable" model="Model.Members"></partial>
