@model AdminViewModel


@if (Model.PageHeader is not null)
{
    <partial name="_PageHeader" model="Model.PageHeader"></partial>
}


<p class="text-primary fw-bold"> Number of Registered members: @Model.Members.Count()</p>

<partial name="../Members/_MemberListTable" model="Model.Members"></partial>
