@model IEnumerable<GymClassViewModel>



@*<select asp-for="">
    <option value="">-Select-</option>
    @foreach (var yc in Model)
    {
       <option value="@yc.Id">@yc.Name</option>
    }
</select>*@