@model IEnumerable<GymApp14V1.Core.ViewModels.GymClassViewModel>


@if (ViewBag.PageHeader is not null)
{
    <partial name="_PageHeader" model="ViewBag.PageHeader"></partial>
}


<p class="text-primary fw-bold"> Number of Gym classes: @Model.Count()</p>


<partial name="../GymClass/_GymClassListTable"></partial>
